*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #0a0a23;
  --light-grey: #f5f6f7;
  --yellow: #f1be32;
}

body {
  background-color: var(--dark-blue);
  color: var(--light-grey);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

h1 {
  font-size: 40px;
}

.divider {
  width: 130px;
  height: 8px;
  background-color: var(--yellow);
  margin-top: 10px;
}

select {
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  height: 40px;
  margin: 20px 0;
}

#output {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  padding: 0 8px;
}

@media (max-width: 368px) {
  h1 {
    font-size: 30px;
  }

  .divider {
    width: 100px;
    height: 6px;
  }

  select {
    font-weight: bold;
    font-size: 13px;
    padding: 4.5px;
    height: 30px;
  }

  #output {
    font-size: 20px;
  }
}
