*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #0A0A23;
    --light-grey: #F5F6F7;
    --yellow: #F1BE32;
}

body {
    background-color: var(--dark-blue);
    color: var(--light-grey);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

h1 {
    font-size: 40px;
}

.divider {
    width: 130px;
    height: 8px;
    background-color: var(--yellow) ;
    margin-top: 10px;
}

select {
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    height: 40px;
    margin: 20px 0;
}